<%- include('partials/head.ejs') %> 

    <% const userName = 'James' %> 
    <%- include('partials/nav.ejs') %> 
    <h1>WELCOME TO SSR <%= userName %> </h1>
    <p>Today is <%= new Date().getDate() %> </p>
    <h2><%= 60*60 %> </h2>
    <h3>Age is <%= age %> </h3>

<%- include('partials/footer.ejs') %> 
